@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    background:#5e5d59db;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:35px;

}

.container{

    width:700px;

}

h1{

    text-align:center;
    font-size:42px;
    font-weight:600;
    color:rgba(255,255,243,.95);
    margin-bottom:8px;

}

.subtitle{

    text-align:center;
    color:#ece9df;
    margin-bottom:28px;
    font-size:15px;

}

.journal{

    background:rgba(255,255,243,.88);
    border-radius:22px;
    padding:30px;
    box-shadow:0 12px 30px rgba(0,0,0,.18);
    transition:.3s;

}

.journal:hover{

    transform:translateY(-4px);

}

textarea{

    width:100%;
    min-height:340px;
    border:none;
    outline:none;
    resize:none;
    background:transparent;
    color:#4d4c47;
    font-size:17px;
    line-height:2;
    letter-spacing:.3px;

}

textarea::placeholder{

    color:#8c897f;

}

.bottom{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;

}

.left{

    flex:1;

}

.progress{

    width:100%;
    height:10px;
    background:#ddd8cf;
    border-radius:50px;
    overflow:hidden;

}

.fill{

    width:0%;
    height:100%;
    background:#656460db;
    transition:.3s;

}

.right{

    margin-left:20px;
    color:#656460db;
    font-size:18px;
    font-weight:500;

}

#remaining{

    margin-top:18px;
    text-align:center;
    color:#ece9df;

}

.warning{

    color:#9f6500 !important;

}

.danger{

    color:#8a1d1d !important;

}

.success{

    color:#0d5d40 !important;

}

.fill.warning{

    background:#9f6500;

}

.fill.danger{

    background:#8a1d1d;

}

.fill.success{

    background:#0d5d40;

}